<h1>Add an Expenses</h1>


<%= form_with model: @expenditure, url: category_expenditures_path, method: :post, local: true do |f|%>
<div class="form-card">
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div><br>

  <div>
    <%= f.label :amount %>
    <%= f.number_field :amount, step: 0.01 %>
  </div><br>

  <div>
    <%= f.submit 'Add Expense' %>
  </div>
  </div>

<% end %>
