<%= form_for @category do |f|%>
<div class="form-card">
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div><br>

  <div>
    <%= f.label :icon %>
    <%= f.select :icon, [
      ["Family", "family-icon.png"],["Bills", "bills-icon.png" ],["Groceries", "groceries-icon.png"],
      ["Shopping", "shopping-icon.png"],["Health", "health-icon.png"], ["Transport", "transport-icon.png"],
      ["Restaurant", "restaurant-icon.png"],["Education", "education-icon.png"], ["Holiday", "holiday-icon.png"],
      ["Investment", "investment-icon.png"], ["Others", "others-icon.png"]
      ] %>
  </div><br>

  <div>
    <%= f.submit %>
  </div>

  <button>
    <%= link_to 'Cancel', categories_path %>
  </button>

<% end %>