<h1>List all Categories</h1>

<ul>
<%@categories.each do |category| %>

 <li>
   <div>
     Category: <%= category.name %> Total: <%=category.total%>
     <%= link_to "Edit", edit_category_path(category.id)%>
     <%= button_to "Delete", category_path(category.id), method: :delete, data: { turbo_confirm: "Are you sure you want to delete #{category.name}"}%>
    </div>
  </li>


<% end %>
</ul>

<%= link_to "Add Category", new_category_path %>